[submodule "MultisigAnalysis/lib/forge-std"]
	path = MultisigAnalysis/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ByBitAnalysis/lib/forge-std"]
	path = ByBitAnalysis/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
